.resumeio-footer {
  width: 100%;
  background: linear-gradient(to bottom, #0f1c2e, #091423);
  padding: 40px 20px;
  color: #cfd6e0;
}

/* MAIN TOP FOOTER LINKS */
.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 35px;
  
}

.footer-links h4 {
  font-size: 15px;
  margin-bottom: 12px;
  color: #4da2ff;
  letter-spacing: 1px;
}

.footer-links p {
  margin: 6px 0;
  font-size: 14px;
  cursor: pointer;
}

.footer-links p:hover {
  color: white;
}

/* LOWER FOOTER SECTION */
.lower-footer {
  display:flex;
  justify-content:space-evenly;
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #1d2b3d;
}

.country-select p,
.social-follow p {
  font-size: 14px;
  color: #8fb3ff;
  margin-bottom: 6px;
}

.country-select select {
  padding: 6px 10px;
  border-radius: 6px;
  background: #142233;
  color: white;
  border: 1px solid #253246;
}

.icons i {
  font-size: 22px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.icons i:hover {
  transform: scale(1.2);
  color: white;
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  color: #9ca7b8;
}
.footer-links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #00ff99;
}